{% extends 'base.html' %}
{% block content %}
    <!-- message 표시 -->
    {% if messages %}
    <div class = "alert alert-danger my-3" role="alert">
        {% for message in messages %}
            <strong>{{ message.tags }}</strong>
            <ul><li>{{ message.message }}</li></ul>
        {% endfor %}
    </div>
    {% endif %}
<body>
<!-- 내용 -->
<article id="content" deal_id={{ deal_id }}>
    <!-- 상품 -->
    <div>
        <div id="article-description">
            <!--제목 -->
            <div class="py-3" style="width:80%px;height:10%px; margin-left: 20%;" >
                <p id="article-title" property="schema:name" style="font-size:40px; font-weight:bold;">{{deal.subject}}</p>
                {% if deal.is_complete %}
                    <p>거래완료</p>
                {% endif %}
                <hr style="width:80%; height:5px;">
            </div>
            <div class="py-3" style="width:80%px;height:50%px; margin-left: 20%;" >
                <!-- 사진 -->
                <div style="display:inline-block; float: left">
                    {% if deal.image %}
                        <div style="width:50%; height:50%; float:left; margin-right:10%; margin-left:10%;">
                            <img src="{{ deal.image.url }}">
                        </div>
                    {% endif %}
                </div>
                <!-- 상품정보 -->
                <div style="display:inline-block;vertical-align:top; margin-left:10%">
                    <div style="font-size:25px;">
                        <ul style="line-height:50px;">
                        <li id="article-price" property="schema:price" style="font-size: 30px; font-weight:bold;">{{ deal.price }}원</li>
                        <li id="article-author" property="schema:author">{{deal.author}}</li>
                        <li id="article-create_date" property="schema:date">
                            등록일: {{deal.create_date}}<br>
                            {% if deal.modify_date %}
                                수정일: {{deal.modify_date}}
                            {% endif %}
                        </li>
                        </ul>
                    </div>
                    <div>
                        {% if deal.author == request.user %}
                            <!-- 수정삭제버튼 -->
                            <div class="my-3" style="float:left;">
                                {% if deal.is_complete %}
                                   <a href ="javascript:void(0)" class="complete btn btn-primary"
                                   data-uri = "{% url 'deal:deal_complete' deal.id %}">거래완료취소</a>
                                {% else %}
                                    <a href ="{% url 'deal:deal_edit' deal.id %}"
                                       class="btn btn-primary">수정</a>
                                    <a href ="javascript:void(0)" class="delete btn btn-primary"
                                       data-uri = "{% url 'deal:deal_delete' deal.id %}">삭제</a>
                                    <a href ="javascript:void(0)" class="complete btn btn-primary"
                                       data-uri = "{% url 'deal:deal_complete' deal.id %}">거래완료</a>
                                {% endif %}
                            </div>
                        {% else %}
                            <!-- 찜구매버튼 -->
                            <span class="control hidden">
                                <div style="float:left;">
                                    {% if deal.is_complete %}
                                        <button class="btn btn-primary" stylte="margin-right:5px">거래완료</button>
                                    {% else %}
                                        <a href="#" class="btn btn-primary" style="margin-right:5px">찜</a>
                                        <a href="#" class="btn btn-primary" style="margin-right:5px">구매하기</a>
                                    {% endif %}
                                </div>
                            </span>
                        {% endif %}
                     </div>
                </div>
                <hr style="width:80%; height:10%;">

                <!-- 본문 -->
                 <div id="article-detail">
                     <p>{{ deal.content }}</p>
                 </div>
            </div>
        </div>
    </div>
</article>
{% endblock %}
</body>
{% block script %}
<script type = 'text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});
</script>
<script type = 'text/javascript'>
const complete_elements = document.getElementsByClassName("complete");
Array.from(complete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 거래 상태를 변경하시겠습니까?")) {
            location.href = this.dataset.uri;
            alert("변경되었습니다");
        };
    });
});
</script>

{% endblock %}