{% extends 'base.html' %}
{% block content %}
<!-- 검색창(배경 추가 예정) -->
  <div class="search-section">
    <h2>Campus Deal</h2>
    <div class="input-group search-input">
      <input type="text" class="form-control" placeholder="상품을 검색하세요...">
      <div class="input-group-append">
        <button class="btn btn-light" type="button"><i class="fas fa-search"></i></button>
      </div>
    </div>
  </div>
<!-- 검색창 끝 -->

<!-- 물품(딜) 리스트 -->
<!-- 이미 판매된 물품과 그렇지 않은 물품 구별하기 -->
<div class="container mt-4">
  <h2>둘러보기</h2>
    {% if deal_list %}
    <div class="row">
      {% for deal in deal_list %}
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card product-card">
              <div class="embed-responsive embed-responsive-4by3">
                {% if deal.image %}
                <img class="card-img-top" alt="Product Image" src="{{ deal.image.url }}" width="100">
                {% else%}
                <img class="card-img-top" alt="Product Image" src="images/default/thumbnail.png" width="100">
                {% endif %}
              </div>

              <div class="card-body">
                <h5 class="card-title">{{ deal.subject }}</h5>
                <p class="card-text">₩{{ deal.price }}</p>
                <a class="btn btn-outline-dark" href="/deal/{{ deal.id }}/">구입하기</a>
              </div>

            </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>
{% endblock %}