{% extends 'base.html' %}
{% block content %}
<body>
    <div class="container mt-5">
        <div class="card text-center">
            <div class="card-header">
                계정 활성화
            </div>
            <div class="card-body">
                <h5 class="card-title">계정 활성화 실패</h5>
                <p class="card-text">계정 활성화에 실패하였습니다. 링크가 만료되었거나 유효하지 않습니다.</p>
                <a href="{% url 'user:send_verification_email' %}" class="btn btn-primary">인증 메일 재발송</a>
            </div>
        </div>
    </div>
</body>
{% endblock %}