{% extends 'base.html' %}
{% block content %}
<body>
    <div class="container mt-5">
        <div class="card text-center">
            <div class="card-header">
                계정 활성화
            </div>
            <div class="card-body">
                <h5 class="card-title">계정 활성화 완료</h5>
                <p class="card-text">계정 활성화가 성공적으로 완료되었습니다!</p>
                <a href="{% url 'user:login' %}" class="btn btn-primary">로그인 페이지로 이동</a>
            </div>
        </div>
    </div>
</body>
{% endblock %}