{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row mt-5">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center text-primary">CampusDeal</h5>
            <form class="form-signin" method="post" action="{% url 'user:login' %}">
              {% csrf_token %}
              {% include "form_errors.html" %}
              <div class="form-label-group">
                <input type="text" label="학번" id="username" name="username" class="form-control" value="{{ form.username.value|default_if_none:'' }}" 
                          placeholder="학번">
              </div><br>

              <div class="form-label-group">
                <input type="password" id="password" name="password" class="form-control" value="{{ form.password.value|default_if_none:'' }}" placeholder="비밀번호">
              </div>
              <hr>
              <button class="btn btn-primary text-uppercase btn-block" type="submit" style="width: 100%;">로그인</button>
              <hr>
              <a href="{% url 'user:signup' %}">회원가입</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}