{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row mt-5">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center text-primary">CampusDeal</h5>
            <form method="post" action="{% url 'user:signup' %}">
                {% csrf_token %}
                {% include "form_errors.html" %}
                <div class="mb-3">
                  <label for="username"></label>
                  <input type="text" class="form-control" name="username" id="username" placeholder="학번"
                         value="{{ form.username.value|default_if_none:'' }}">
                </div>
                <div class="mb-3">
                    <label for="nickname"></label>
                    <input type="text" class="form-control" name="nickname" id="nickname" placeholder="닉네임"
                           value="{{ form.nickname.value|default_if_none:'' }}">
                </div>
                <div class="mb-3">
                    <label for="password"></label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="비밀번호"
                           value="{{ form.password.value|default_if_none:'' }}">
                </div>
                <div class="mb-3">
                    <label for="re_password"></label>
                    <input type="password" class="form-control" name="re_password" id="re_password" placeholder="비밀번호 확인"
                           value="{{ form.re_password.value|default_if_none:'' }}">
                </div>
                <div class="mb-3">
                    <label for="phone_number"></label>
                    <input type="text" class="form-control" name="phone_number" id="phone_number" placeholder="010-1234-5678"
                           value="{{ form.phone_number.value|default_if_none:'' }}">
                </div>
                <hr>
                <button type="submit" class="btn btn-primary text-uppercase btn-block" style="width: 100%;">가입하기</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
